@charset "utf-8";


body {
	margin: 0;
	position: relative;
}
header {
	position: fixed;
	height: 160px;
	border: 1px solid #c9cad6;
	box-shadow: 0.5px 0.5px 20px 0px grey;
	border-left: none;
	border-right: none;
	border-top: none;
	background-color: white;
	width: 100%;
	top:0;
}
.header_wrap {
	height: 160px;
	
}

footer {
	bottom: 2px;
}

#homepage_logo {
	position: absolute;
	top: 10px;
	left: 30px;
	display: inline;
}

.header1 {
	display: flex;
	justify-content: right;
}

.header1 a {
	font-size: 13px;
	color: grey;
	margin-right: 10px;
}


.header2 ul {
	display: flex;
	flex-wrap: wrap;
  	gap: 230px;
	justify-content: center;
	margin-top: 40px;
	font-size: 26px;
	font-weight: bold;
	list-style: none;
}


.header2 ul > li a {
	text-decoration: none;
	color: black;
}

.header2 ul > li a:hover {
	text-decoration: underline;
	color: #468B97;
}

